.about {
  padding: 50px 20px;
}

.about-container {
  max-width: 900px;
  margin: auto;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.about h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 15px;
  color: rgb(81, 44, 116);
}

.about .intro {
  text-align: center;
  margin-bottom: 30px;
  font-size: 17px;
  color: #555;
}

.about h2 {
  margin-top: 25px;
  font-size: 24px;
}

.about ul {
  margin-top: 10px;
  padding-left: 20px;
}

.about li {
  margin-bottom: 8px;
  font-size: 16px;
}
