.contact-page{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
 row-gap: 10px;
  padding: 30px;
  box-shadow: 0 0 5px black;
  height: 400px;
  width: 400px;
   background: #dbe3f0;
    border-radius: 16px;

}
.form{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  width: 400px;
  
}
.form input ,.form textarea{
  width: 100%;
  padding: 10px;               
  margin-bottom: 12px;
  border-radius: 10px;
  border: 2px solid #333;
  font-size: 14px;
  
}
 .send-btn{
  padding: 10px 25px;
  font-size: 15px;
  background: #1e90ff;
  color: white;
  border: none;
  width: auto;             
  display: inline-block;   
  cursor: pointer;  
}
.contact-wrapper {
  min-height: calc(100vh - 120px); 
  display: flex;
  justify-content: center;
   
  background: #e7edf6;
}