.hero {
height: 50vh;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
background-repeat: no-repeat;
image-rendering: auto;
display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
width:100vw;
 filter: none;
  transform: none;
  max-width: 100%;
}
.hero-overlay {
background: rgba(0,0,0,0.35);
width: 100%;
height: 100%;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 80px;
z-index: 2;
}
.hero-buttons a {
padding: 10px 20px;
background: rgb(174, 133, 58);
margin-right: 10px;
}
.outline {
border: 2px solid white;
background: transparent;
color: rgb(78, 38, 116);
}
.hero-buttons a{
 border: 2px solid rgb(23, 21, 21);

}
@media (max-width: 768px) {
  .hero {
    
   height: 40vh;
  }
  .hero-overlay {
    padding-left: 20px;
    
  }
  
  }

