.packages {
padding: 20px;

}

.packages-grid {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
 
}


.packages h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
  color: rgb(81, 44, 116);
}
.home-page {
  min-height: 100vh;
  padding-bottom: 50px;
}


  .hero img,
  .hero-text {
    width: 100%;
  }

  @media (max-width: 768px) {

 
  .packages-grid {
    flex-direction: column;
    align-items: center;
  }

 

  body {
    overflow-x: hidden;
  }

 

}







