
.packages-grid {
  display: flex;
  gap: 10px;
  justify-content: center;

}

.package-card {
  background: #fff;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease;
  flex: 1;
 width:350px;
}

.package-card:hover {
  transform: translateY(-6px);
}

.package-card img {
  width: 320px;
  height: 230px;
  object-fit: cover;        
  border-radius: 12px;
  display: block;
  image-rendering: auto;
}

.package-card h3 {
  margin: 12px 0 5px;
  font-size: 20px;
  font-weight: bold;
}

.package-card p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.package-card span {
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #26062b;
}

.package-card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.bottom a {
  padding: 8px 16px;
  background: #2f6bed;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  transition: background 0.3s;
}

.bottom a:hover {
  background: #1d4dcc;
}

@media (max-width: 768px) {
  .packages-grid {
    flex-direction: column;  
    align-items: center;
  }
.package-card img {
  width: 200px;
  height: 230px;
  object-fit: cover;        
  border-radius: 12px;
  display: block;
  image-rendering: auto;
}
  .package-card {
    width: 90%;
    max-width: 380px;
  }


}
