body{
    
    background: linear-gradient(135deg,  #d4e2f9);
    align-items: center;
    justify-content: center;
    margin: 0;
      padding: 0;
   box-sizing: border-box;

}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
